.kbc-readmore {
  position: relative;
  overflow: hidden;
  h3{
    font-weight: bold;
    font-size: 17px;
  };
  h4{
    font-weight: bold;
    font-size: 15px;
  };
}

.kbc-readmore-normal{
  max-height: 300px;
}


.kbc-readmore-small{
  max-height: 150px;
}

.kbc-readmore .kbc-readmore-fadeout {
  height: 50px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, white);
}

.kbc-readmore-button {
  display: block;
  text-align: center;
  width: 100%;
}
