@import (inline) '~codemirror/lib/codemirror.css';
@import (inline) '~codemirror/theme/solarized.css';
@import '~react-select/less/default';
@import '~react-datepicker/dist/react-datepicker.css';
@import './Autosuggest';

pre.CodeMirror-placeholder {
  color: #717e9a;
}

.label-canceled {
  background-color: #000;
}

.react-autosuggest {
   &__suggestions {
    font-size: inherit;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: white;
    border: 1px solid #cccccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    /*max-height: 200px;*/
    position: absolute;
    top: 100%;
    /* width: 100%; */
    list-style: none;
    z-index: 1000;
    margin: 0;
    padding: 4px 0px 4px 0px;

  }

  &__suggestion {
    box-sizing: border-box;
    color: #666666;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
  }

  &__suggestion--focused {
    background-color: #f2f9fc;
    color: #333333;
  }
}

svg.kb-graph {
  margin-top: 10px;
}

svg.kb-graph  {
        cursor: move;
}

.kb-graph .node {
        cursor: pointer;
}

.kb-graph .node rect {
  stroke-width: 0px;
  stroke: #333;
  fill: #fff;
}

.kb-graph .node text {
  background-color: #999999;
}

.kb-graph .node text,
.kb-graph .node a {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  fill: white;
}


.kb-graph .controls {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.kb-graph .graph-options select.form-control {
  width: auto;
  display: inline;
}

#svgDownload {
  visibility: hidden;
}

#canvasDownload {
  display: none;
}


.kbc-protected {
  cursor: pointer;
}

.kbc-main-content .vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.kbc-main-content .stripe-odd {
  background-color: #f9f9f9
}

.kbc-main-content .cm-s-solarized.CodeMirror {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.kbc-main-content .CodeMirror {
  height: auto;
  background: none;
}

.kbc-main-content .edit .CodeMirror {
  min-height: 100px;
}

.kbc-main-content .static .CodeMirror-cursor {
  display: none;
}

.kbc-main-content .edit .CodeMirror .CodeMirror-scroll {
  min-height: 100px;
}

.kbc-overview {

  h2 {
    color: #0199f1;
  }

  > .tbody > .tr > .td {
    text-align: left;
  }

}

.kbc-main-content .form-group-sm .Select.is-multi {
  .Select-input {
    margin-left: 5px;
  }
}

.kbc-main-content .form-group-sm .Select.is-multi {
  .Select-control {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    .Select-placeholder {
      padding-top: 7px !important;
      padding-bottom: 6px !important;
    }
    .Select-input {
      margin-left: 5px;
      margin-top: 0px;
      padding-top: 1px !important;
      input {
        position: relative;
        top: 2px;
      }
    }
    .Select-arrow {
      top: 12px;
    }
    .Select-clear{
      padding-top: 3px;
    }
    .Select-item {
      margin-top: 1px;
      margin-bottom: 1px;
      .Select-item-icon {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .Select-item-label {
        padding-top: 1px;
        padding-bottom: 0px;
      }
    }
  }
}


.kbc-main-content .form-group-sm .Select {
  font-size: 12px;
  .Select-control {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    .Select-placeholder {
      padding-top: 5px !important;
      padding-bottom: 6px !important;
    }
    .Select-input {
      margin-left: 0px;
      margin-top: 0px;
      margin-bottom: 5px;
      padding-top: 1px !important;
      input {
        position: relative;
        top: 2px;
      }
    }
    .Select-arrow {
      top: 10px;
    }
    .Select-clear{
      padding-top: 1px;
    }
  }
  .Select-menu-outer {
    .Select-menu {
      .Select-option, .Select-noresults {
        padding-top: 4px;
        padding-bottom: 4px;
      }

    }
  }
}

.kbcNotificationTransition-enter {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

.kbcNotificationTransition-enter.kbcNotificationTransition-enter-active {
  opacity: 1;
}

.kbcNotificationTransition-leave {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.kbcNotificationTransition-leave.kbcNotificationTransition-leave-active {
  opacity: 0.01;
}